html, body {
  margin: 0;
  padding: 0;
  background-color:#0091BD;
  font-size:1.5em;
  color:white;
  font-family: 'Roboto Mono', monospace;
  }
canvas {
  padding:20px;
  display: block;
}
.h1{
padding:0;
}